<!DOCTYPE html>

<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    </script>
    <div class="main-content">
        {{>header}}
        <div class="container">
            <div class="row">
            </div>
        </div>
        <p style="font-size: 24px; text-align: center">Sum total: {{sum}}</p>
    </div>
    {{>footer}}
</body>
<script src="/js/cartapp.js"></script>

</html>