
<header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size:24px">Shooping Website</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" style="font-size:18px">Home</a></li>
      <li><a href="/cart" style="font-size:18px">Cart</a></li>
      <li style="text-align: bottom; font-size:28px;padding-left:1500px">{{title}}</li>
      
    </ul>
  </div>
</nav>
</header>